<div class="container game-container">
    {{game-panel}}
    <div class="game-player-field enemy-field">
        {{game-player-panel isHeroPlayer=false}}
        {{game-player-hand isHeroPlayer=false}}
    </div>

    {{game-player-permanents isHeroPlayer=false}}
    {{game-player-permanents isHeroPlayer=true}}

    <div class="game-player-field hero-field">
        {{game-player-hand isHeroPlayer=true}}
        {{game-player-panel isHeroPlayer=true}}
    </div>
</div>
