<div class="container h-100">
    <div class="row h-25">
        <div class="col">
            Player ID: {{enemyPlayer.userId}}
            <br />
            Player health: {{enemyPlayer.health}}
            <br />
            Player attack: {{enemyPlayer.attack}}
        </div>
    </div>

    <div class="row h-25">
        <div class="col">
            Permanents 1
        </div>
    </div>

    <div class="row h-25">
        <div class="col">
            Permanents 2
        </div>
    </div>
    <div class="row h-25">
        <div class="col">
            Player ID: {{heroPlayer.userId}}
            <br />
            Player health: {{heroPlayer.health}}
            <br />
            Player attack: {{heroPlayer.attack}}
        </div>
    </div>
</div>
